* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  background-color: #ff7400;
}

button {
  padding: 10px 20px;
  color: #b00000;
  background-color: #ff953d;
  border: 5px solid;
  border-color: #b00000;
}
